// la croix colors lmao

$color-lightblue: #088BBE;
$color-green: #1BB6AF;
$color-orange: #F8CD9C;
$color-red: #EA7580;
$color-peach: #F6A1A5;
$color-deepviolet: #172869;

.pink {
    color: $color-peach;
}

.red {
    color: $color-red;
}

.blue {
    color: $color-lightblue;
}

.green {
    color: $color-green;
}

.orange {
    color: $color-orange;
}

.job {
    color: $color-deepviolet;
}
