/* CONTAINERS */
body {
  margin: 5%;
}
.box {
  /* margin: 0.5%; */
  text-align: center;
  color: #172869;
  color: white;
}

img {
  position: relative;
}

/* COLORS */
.pink {
  color: #f6a1a5;
}

.red {
  color: #ea7580;
}

.blue {
  color: #088bbe;
}

.green {
  color: #1bb6af;
}

.orange {
  color: #f8cd9c;
}

.violet {
  color: #172869;
}

/* SECTIONS */

.job {
  color: #172869;
  font-size: 20px;
  font-weight: bold;
}

.school {
  color: #088bbe;
  font-size: 20px;
  font-weight: bold;
}

#name {
  text-align: center;
  /* color: #088BBE; */
  color: #21285F; /* purple */
  font-size: 75px;
  padding-left: 20px;
  font-family: 'Abril Fatface', cursive;

  /* font-display:  */
  /* float: right; */
}

/* TOP SECTION */
.top {
  width: 100%;
  text-align: center;
  height: 300px;
  position: sticky;
}

/* PROJECTS */
.projects {
  /* background-color: #F6A1A5; */
  color: #172869;
  background-color: white;
  /* padding: 10%; */
}

/* FONTS */
.header {
  /* color: white; */
  font-size: 70px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;

}

.link {
  background-color: #ee82aa; /* light pink */ 
  color: #21285F; /* purple */
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  border: 5px solid #21285F; /* purple */


}

.contact {
  background-color: #ea7580;
}

.social {
  float: right;
  padding: 2%;
  display: flex;
  /* margin: 20px; */
}

/* TYPE DISPLAY */
.text-js { 
  opacity: 0;
}
.cursor {
  display: block;
  position: absolute;
  height: 100px;
  top: 0;
  right: -10px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#img-div {
  margin-top: 0px;
}

/* MOBILE FORMATTING */
@media screen and (max-width: 641px) {
  /* .header a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  .header-right {
    float: none;
    display: flex;
    flex-direction: row;
  } */

  /* .top {
    height: fit-content
  } */
  .social {
    justify-content: center;
    /* width: 100%; */
    /* display: inline; */
  }
  .header {
    display: block;
    height: auto;
  }
  #img-div {
    visibility: hidden;
  }
}



.skill {
  margin-top: 40px;
}
/* #social{
    float: none;
    display: block;
    width: 100%;
    /* size: 60%; */

/* #me{
  position: absolute;
  margin-right: 50px;
  padding-right: 50px;
} */

